/*VERIFY MY COLOR SCHEME*/

/****************SITE WIDE****************/
* {
    box-sizing: border-box;
}


/****************HEADER****************/
body {
    background-color: #D9D3CC;
    font-family: "Roboto Flex", sans-serif;
}
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;
}

header span {
    font-size: 1.2rem;
    color: #000000;
}

/****************HAMBURGER NAVIGATION****************/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::before {
    content: "\00d7";
    font-size: 2rem;
}

/****************NAV BAR****************/
.navigation {
    display: none;
    background-color: #73655A;
}
.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    text-decoration: none;
    padding: .8rem 10px;
    display: block;
    border-bottom: solid 1px #ddd;
    color: #F2EEEB;
    font-family: "Montserrat", sans-serif;
}
.navigation a:hover {
    background-color: #F2EEEB;
    color: #73655A;
    border-radius: 2px;
}
h1 {
    margin-left: 10px;
    color: #73655A;
}

/****************Footer****************/

footer {
    background-color: #73655A;
    padding: 1rem 10px;
    text-align: center;
    color: #F2EEEB;
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 10px;
}
.social a {
    display: flex;
    border: #ccc solid 1px;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}
.social img {
    width: 22px;
    height: 22px;
}

/****************MAIN****************/
#main {
    display: block;
}

#certificates {
    grid-column: 1 / 3;
}
#certificates p {
    background-color: #73655A;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
#aboutPar {
    font-size: 1.5rem;
    text-align: justify;
}
.section {
    padding: .8rem 10px;
}
h2 {
    text-align: center;
    background-color: #A68C7C;
    color: #D9D3CC;
    padding: 5px;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
}

img {
  width: 300px;   
  height: auto;
  border-radius: 5px; 
}
#profile {
    text-align: center;
}

/****************CERTIFICATE****************/
#modules {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
#modules p {
    margin: 0px;
    padding: 20px;
    width: 80px;
    border-radius: 4px;
}
span {
    font-family: "Montserrat", sans-serif;
}

/****************CERTIFICATES BUTTONS****************/
button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #F2EEEB;
    font-weight: bold;
    border-radius: 4PX;
}
button:hover {
    background-color: #73655A;
    color: #F2EEEB;
}.course {
    background: #F2EEEB;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.course h4 {
  margin: 8px;
  color: #73655A;
}
.creditsTotal {
    color: #F2EEEB;
    font-family: "Montserrat", sans-serif;
}

/***********************WAYFINDING***************************/

section:target {
    display: block;
}
section#home {
    display: block;
}
.current {
    background-color: #A68C7C;
    border-radius: 2px;
}

/*DIALOG*/

#course-details {
    border: 1px solid rgb(0, 0, 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}
::backdrop {
    background: rgb(0, 0, 0 / 70%);
}

#course-details button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
}
#final {
    text-decoration: none;
    color: #73655A;
    background-color: #A68C7C;
    width: 10px;
    padding: 10px;
    border-radius: 5px;
}
#final:hover {
    background-color: #f3adad;
    color: #000000;
}
#final-div {
    margin-bottom: 20px;
}