img {
    width: 400px;
    height: auto;
}
body {
      font-family: "Roboto Slab", serif;
      font-weight: 300;
      background-color: #F2F2F2;
}
h1 {
    font-family: "Oswald", sans-serif;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #BF0436;
}