/*VERIFY MY COLOR SCHEME*/

/****************SITE WIDE****************/
* {
    box-sizing: border-box;
}


/****************HEADER****************/
html, body {
    background-color: #ffffff;
    font-family: "Crimson Pro", serif;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 6px;
}

header span {
    font-size: 1.5rem;
    color: #003057;
}

/****************HAMBURGER NAVIGATION****************/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::before {
    content: "\00d7";
    font-size: 2rem;
}

/****************NAV BAR****************/
.navigation {
    display: none;
    background-color: #006184;
}
.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    text-decoration: none;
    padding: .8rem 10px;
    display: block;
    color: #ffffff;
    font-family: "Volkhov", serif;
}
.navigation a:hover {
    background-color: #003057;
    border-radius: 2px;
}
/**********************MAIN HOME**************************/

#section-home > div {
  box-shadow: 0 2px 3px #003057;
  padding: 10px;
}
#section-home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
#section-home h2 {
  background: #b0eefc;
  color: #003057;
  margin: -10px -10px 10px -10px;
  padding: 5px;
  font-size: 1.5rem;
}
#section-home h3 {
  color: #003057;
  margin: -10px -10px 10px -10px;
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
}
#section-home p {
    text-align: center;
}
#section-home h4 {
    text-align: center;
    color: #003057;
    font-size: 1.2rem;
}
#expo-video iframe {
    max-width: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: 16/8;
    
}
#weatherCard {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  color: #003057;
}
#weather-icon  {
    width: 70px;
    height: 70px;
}
.city-name {
    color: #003057;
    font-weight: bolder;
    font-size: 1.2rem;
}

#forecastCard {
    margin-top: 15px;
}
#forecastCard > p {
    color: #003057;
}
#section-business {
    color: #003057;
    text-align: center;
}
#section-business a {
    text-decoration: none;
    color: #006184;
}


h1 {
    color: #003057;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
}
img {
  width: 110px;   
  height: auto;
  border-radius: 5px; 
}

.hero {
    position: relative;
    display: inline-block;
}
#hero-image {
    width: 100%; 
    height: auto;
    display: block;
}

.cta-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #b0eefc;
    color: #003057;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.3s;
}
.cta-btn:hover {
    background-color: #006184;
    color: #ffffff;
    transition: none;
}
/***********************WAYFINDING***************************/
.current {
    background-color: #003057;
    border-radius: 2px;
}
/****************Footer****************/
footer {
    background-color: #007da5;
    padding: 1rem 10px;
    text-align: center;
    color: #ffffff;
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 10px;
}
.social a {
    display: flex;
    border: #ffffff solid 1px;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}
.social img {
    width: 22px;
    height: 22px;
}
/***********************JOIN***************************/

.join {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}
form {
    background-color: #b0eefc;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea, form select {
    padding: 8px;
    border: 1px solid #006184;
    border-radius: 4px;
}

form button {
  background-color: #003057;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
    background-color: #006184;
}
.card {
    background-color: #006184;
    color: #ffffff;
    padding: 15px;
    margin: 10px 10px;
    border-radius: 4px;
}
.card a {
    text-decoration: none;
    color: #ffffff;
}

#thank-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#results {
    font-size: 1.2rem;
    width: 600px;
    height: auto;
    padding: 50px;
    justify-content: right;
}
#thanks {
    background-color: #b0eefc;
    display: flex;
    align-items: center;
    justify-content: left;
}
#thanks h1 {
    font-size: 3rem;
}

/**********************CARDS - DISCOVER PAGE*************************/

#allplaces div {
    margin: 1rem 8px;
    border: 1px solid #003057;
    background-color: #b0eefc;
    border-radius: 10px;
    display: grid;
    padding: 10px;
    align-items: center;
    grid-template-areas: 
    "name"
    "photograph"
    "cost"
    "description"
    "location"
    ;
}
#allplaces div h2 {
    margin: 1rem 10px;
    grid-area: name;
    color: #003057;
}
#allplaces div img {
    width: 100%;
    grid-area: photograph;
}
#allplaces div address {
    margin: 1rem 10px;
    grid-area: location;
    color: #003057;
}
#allplaces div p {
    margin: 1rem 10px;
    grid-area: description;
    color: #003057;
}
#allplaces div span {
    margin: 1rem 10px;
    grid-area: cost;
}

#visit-message {
    background-color: #006184;
    color: #ffffff;
    margin: 20px;
    font-size: 1.1rem;
    padding: 2px;
}