/*VERIFY MY COLOR SCHEME*/

/****************SITE WIDE****************/
* {
    box-sizing: border-box;
}


/****************HEADER****************/
body {
    background-color: #ffffff;
    font-family: "Crimson Pro", serif;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 6px;
}

header span {
    font-size: 1.5rem;
    color: #003057;
}

/****************HAMBURGER NAVIGATION****************/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::before {
    content: "\00d7";
    font-size: 2rem;
}

/****************NAV BAR****************/
.navigation {
    display: none;
    background-color: #006184;
}
.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    text-decoration: none;
    padding: .8rem 10px;
    display: block;
    color: #ffffff;
    font-family: "Volkhov", serif;
}
.navigation a:hover {
    background-color: #003057;
    border-radius: 2px;
}
/**********************MAIN HOME**************************/

#section-home > div {
  box-shadow: 1px 1px 5px#003057;
  padding: 10px;
}
#section-home h3 {
  background: #b0eefc;
  color: #003057;
  margin: -10px -10px 10px -10px;
  padding: 5px;
  font-size: 1rem;
}
#weatherCard {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  color: #003057;
}
#weathe-icon  {
    width: 70px;
    height: 70px;
}
.city-name {
    color: #003057;
    font-weight: bolder;
    font-size: 1.2rem;
}

#forecastCard {
    margin-top: 15px;
}
#forecastCard > p {
    color: #003057;
}

#section-business {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


h1 {
    color: #ffffff;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
}
img {
  width: 110px;   
  height: auto;
  border-radius: 5px; 
}

.hero {
    position: relative;
    display: inline-block;
}
#hero-image {
    width: 100%; 
    height: auto;
    display: block;
}

.cta-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #b0eefc;
    color: #003057;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.3s;
}
.cta-btn:hover {
    background-color: #006184;
    color: #ffffff;
    transition: none;
}
/***********************WAYFINDING***************************/
.current {
    background-color: #003057;
    border-radius: 2px;
}
/****************Footer****************/
footer {
    background-color: #007da5;
    padding: 1rem 10px;
    text-align: center;
    color: #ffffff;
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 10px;
}
.social a {
    display: flex;
    border: #ffffff solid 1px;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}
.social img {
    width: 22px;
    height: 22px;
}